.App {
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.blogForm {
  margin-bottom: 20px;
}
.blogForm button {
  margin: 10px;
  cursor: pointer;
}
.allBlogs {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.singleBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.singleBlog div {
  flex: 1;
}
.singleBlog h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
.singleBlog p {
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.singleBlog button {
  margin: 5px;
  cursor: pointer;
}
